.article3 {
    display: flex;
    text-align: center; 
    border: 3px solid blueviolet;
    width: 40%;
    justify-content: center;
    background-color: lightgreen;

    margin: 2rem 0rem 2rem 0rem;
}

.header-article3-box{
    display:flex;
    flex-direction: column;
    justify-content: center;}
