.header-article1-primary {
    font-family: 'Iceland', cursive;
    font-size: 200%;}

.header-article2-primary {
    font-family: 'Iceland', cursive;
    font-size: 200%;}

.header-article3-primary {
    font-family: 'Iceland', cursive;
    font-size: 200%;}

.header-article4-primary {
    font-family: 'Iceland', cursive;
    font-size: 200%;}

    .header-article10-primary {
        font-family: 'Iceland', cursive;
        font-size: 200%;}