  .nav-flex ul {
    display:flex;
    height: 7 rem;
    background-color: #2b2d32;
  }
  
  .nav-flex li {
    flex:3;
  }

  a {
    color: white;
    letter-spacing: .1rem;
    background:#2b2d32;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
  }